@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@500&display=swap');

.shadow-slate-200-800{
    @apply 
    shadow-[0_0_15px_theme('colors.slate.200')] 
	hover:shadow-[0_0_15px_theme('colors.slate.800')];
}
.shadow-slate-800-200{
    @apply 
    shadow-[0_0_15px_theme('colors.slate.800')] 
	hover:shadow-[0_0_15px_theme('colors.slate.200')];
}

/* Scrollbar modification */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: rgba(129, 94, 243, 0.384);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgb(28, 24, 69);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgb(109, 6, 173);
  }